<div class="container">
	<a class="navbar-brand">{{configure.site.sitename}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/navi/0.html">新着</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/tags/list.html">タグ一覧</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">お気に入り</a>
			</li>
        </ul>
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{configure.social.twitter}}" target="_blank">Twitter</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/rss.xml" target="_blank">RSS</a>
			</li>
		</ul>
	</div>
</div>