<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand">{{configure.sitename}}</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">

		<form class="navbar-form navbar-left">
			<div class="form-group">
				<select class="form-control" id="select-thema">
					<option value="/bootstrap/css/bootstrap.min.css">Default</option>
					<option value="/bootstrap/css/bootstrap.cerulean.min.css">Cerulean</option>
					<option value="/bootstrap/css/bootstrap.cosmo.min.css">Cosmo</option>
					<option value="/bootstrap/css/bootstrap.cyborg.min.css">Cyborg</option>
					<option value="/bootstrap/css/bootstrap.darkly.min.css">Darkly</option>
					<option value="/bootstrap/css/bootstrap.flatly.min.css">Flatly</option>
					<option value="/bootstrap/css/bootstrap.journal.min.css">Journal</option>
					<option value="/bootstrap/css/bootstrap.lumen.min.css">Lumen</option>
					<option value="/bootstrap/css/bootstrap.paper.min.css">Paper</option>
					<option value="/bootstrap/css/bootstrap.readable.min.css">Readable</option>
					<option value="/bootstrap/css/bootstrap.sandstone.min.css">Sandstone</option>
					<option value="/bootstrap/css/bootstrap.simplex.min.css">Simplex</option>
					<option value="/bootstrap/css/bootstrap.slate.min.css">Slate</option>
					<option value="/bootstrap/css/bootstrap.spacelab.min.css">Spacelab</option>
					<option value="/bootstrap/css/bootstrap.superhero.min.css">Superhero</option>
					<option value="/bootstrap/css/bootstrap.united.min.css">United</option>
					<option value="/bootstrap/css/bootstrap.yeti.min.css">Yeti</option>
				</select>
			</div>
		</form>

	</div>
</div>